*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
     padding: 0;
}
.list{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1a1625 0%, #3d2f5b 100%);
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 500px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.title{
    display: flex;
}
.to-do-app img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 30px;
    background:#edeef0 ;

}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent ;
    padding-left: 20px;
}
button{
    border: none;
    outline: none;
    padding:16px 50px ;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    background: orange;
}
ul,li{
    list-style: none;
    font-size: 17px;
    user-select: none;
    padding: 20px 0 15px 50px ;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.png);
    border-radius: 50%;
    background-size:cover;
    background-position: center;
    top:16px ;
    left: 5px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0;
    top: 15px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
